# +----------------------------------------------------------------------+
# | Copyright (c) 2015 Winston Wolf                                      |
# +----------------------------------------------------------------------+
# | This source file is bound by United States copyright law.            |
# +----------------------------------------------------------------------+
# | Author: Winston Wolf <winston.the.cleaner@gmail.com>                 |
# +----------------------------------------------------------------------+


# ---------------------------------------------------- #
# Setup
# ---------------------------------------------------- #

API_KEY = ''
DATABASE_HOST = '127.0.0.1'
DATABASE_PORT = 3306
DATABASE_USERNAME = 'root'
DATABASE_PASSWORD = ''
DATABASE_NAME = 'lol_master_ease'